<%# <h1>ユーザー情報</h1> %>
<%# <p>ログインしているユーザーの情報</p> %>
<div class="container_users">
  <div class="side_menu">
    <ul>
      <li class="marker_selected">アカウントトップ</li>
      <li class="marker"><%= link_to "アカウント情報", users_account_path %></li>
      <li class="marker"><%= link_to "プロフィール情報", users_profile_path %></li>
    </ul>
  </div>
  <div class="main_menu_users">
    <div class="main_content_users">アカウント情報・プロフィール情報</div>
  </div>
</div>
