<% if current_user.present? %>
  <div class="container_users">
    <div class="side_menu">
      <ul>
        <li class="marker"><%= link_to "アカウントトップ", users_index_path %></li>
        <li class="marker"><%= link_to "アカウント情報", users_account_path %></li>
        <li class="marker_selected">プロフィール情報</li>
      </ul>
    </div>
    <div class="main_menu_users">
      <div class="main_content_users">プロフィール情報</div>
    </div>
  </div>
<% else %>
  <%= render 'shared/nologin' %>
<% end %>
