// Place all the styles related to the airphp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body_menu_airphp {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  border-bottom: 0.5px solid #e0e0e0;
}

.container_airphp {
  padding: 0 25px 25px;
  min-height: 717px;
}
