// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reservation_container {
  margin: 0 auto;
  width: fit-content;
}

.reservation_index_table {
  margin: 0;
  font-size: 14px;
  border-top: 1px solid #DADADA;
  border-collapse: collapse;
}

.reservation_index_table th {
  padding: 5px 0;
}

.reservation_index_table td {
  border-bottom: 1px solid #DADADA;
  border-top: 1px solid #DADADA;
  text-align: center;
  padding: 10px 0;
}

.image_reserve img {
  width: 225px;
  height: 150px;
  vertical-align: middle;
  border-radius: 10px;
}

.no_image_reserve {
  display: block;
  background-color: #eeeeee;
  text-align: center;
  padding: 64px 0px !important;
  border-radius: 10px;
  margin: 10px 17px;
  border: none !important;
}

.res_image {
  width: 240px;
}

.res_name {
  width: 350px;
}

.res_hn {
  width: 200px;
}

.res_ci {
  width: 150px;
}

.res_co {
  width: 150px;
}

.res_num {
  width: 70px;
}

.res_sum {
  width: 120px;
}

.res_date {
  width: 210px;
}

.res_del {
  width: 100px;
}

.reserve_delete_button {
  color: #FFFFFF !important;
  background-color: #D70665;
  padding: 8px 12px;
  margin: 0;
  border: solid;
  border-radius: 6px;
}

.reserve_delete_button:hover {
  background-color: #E61D50;
  cursor: pointer;
}

.reserve_confirm {
  margin: 0;
  font-size: 24px;
  padding-bottom: 25px;
}

.reserve_confirm_table {
  margin: 0 auto;
  border-collapse: collapse;
}

.reserve_confirm_table th, .reserve_confirm_table td {
  border-top: solid 1px #AAAAAA;
  border-bottom: solid 1px #A0A0A0;
  padding: 15px 15px 25px;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
}

.reserve_confirm_table th {
  width: 140px;
  text-align: start;
}

.reserve_confirm_table td {
  width: 300px;
}

.res_submit {
  margin: 20px auto 30px;
}
