// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index
img {
  object-fit: cover;
}

.room_search_form input {
  height: 30px;
  width: 215px;
  margin: 10px 0 0 10px;
}

.room_search_button {
  color: #FFFFFF !important;
  background-color: #D70665;
  width: 60px !important;
  text-align: center;
  padding: 3px 15px;
  border-radius: 6px;
  border: none;
}

.room_search_button:hover {
  background-color: #E61D50;
  cursor: pointer;
}

.index_room {
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 35px;
}

.index_rooms {
  width: 300px;
  max-height: 305px;
  margin: 0 15px 40px;
}

.index_rooms td {
  font-size: 15px;
  padding: 0;
}

.image_index img {
  width: 296px;
  height: 192.5px;
  vertical-align: middle;
  border-radius: 12px;
}

.no_image_index {
  display: block;
  background-color: #eeeeee;
  text-align: center;
  padding: 85px 0px;
  border-radius: 12px;
}

.padding_top_10 {
  padding-top: 10px !important;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #717171 !important;
}

// new

.main_content_rooms {
  background-color: #FFFFFF;
  margin-bottom: 30px;
  height: 750px;
  width: 70%;
  overflow: auto;
}

.main_container_rooms_center {
  width: 660px;
  margin: 20px auto;
}

.main_container_rooms_center h2 {
  margin: 0;
}

.newroom {
  width: 650px;
  margin: 20px auto;
}

.room_new {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.hissu {
  color: #FFFFFF;
  font-size: 11px;
  background-color: #EA0000;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: text-bottom;
}

.small {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
}

table.new {
  width: 620px;
  margin: 0 auto;
  border-collapse: collapse;
}

table.new input {
  height: 30px;
  width: 400px;
  font-size: 16px;
}

table.new th, table.new td {
  border-top: solid 1px #A4A8AA;
  padding: 15px 15px 25px;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  width: 250px;
}

table.new th {
  text-align: start;
}

table.new td {
  width: 410px;
}

.height {
  height: 220px;
}

#room_room_introduction {
  height: 140px;
  width: 402px;
  font-size: 16px;
}

.room_new_buttons {
  display: flex;
  justify-content: space-around;
}

.room_button {
  color: #FFFFFF !important;
  background-color: #D70665;
  padding: 7px 18px;
  margin-left: 20px;
  border: solid;
  border-radius: 6px;
  font-size: 16px;
}

.room_button:hover {
  background-color: #E61D50;
  cursor: pointer;
}


// show

.room_show_main {
  max-width: 1150px;
  margin: 20px auto;
}

.room_name {
  font-size: 26px;
  margin: 0;
}

.room_review {
  font-size: 14px;
  margin: 8px 0;
}

.image_flex {
  display: flex;
  justify-content: space-between;
}

.image_main {
  margin: 0;
  height: 500px;
}

.image_sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.image_main img {
  width: 750px;
  height: 500px;
}

.image_sub img {
  width: 360px;
  height: 240px;
}

.no_image {
  background-color: #eeeeee;
  text-align: center;
  padding: 200px 0px;
}

.room_show_container {
  margin: 45px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.room_show_contents {
  margin: 0;
  width: 650px;
}

.contents_header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

.room_name_sub {
  font-size: 22px;
  margin: 0 0 5px 0;
}

.main_point {
  font-weight: bold;
  color: #525252;
}

.sub_point {
  font-size: 14px;
  color: #818181;
}

.room_introduction {
  min-height: 150px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 30px 0;
}

.room_reserve_content {
  margin: 0;
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #cccccc;
  padding: 25px;
  max-height: 350px;
}

.reserve_yen {
  margin: 0 0 24px;
}

.big_yen {
  font-size: 22px;
}

.check_in {
  display: block;
}

.check_out {
  display: block;
}

.reserve_button {
  display: block;
}

.before_reserve {
  font-size: 14px;
  text-align: center;
  color: #525252;
  margin: 15px 0 20px;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_between p {
  margin: 4px 0;
}

.under_line {
  text-decoration: underline;
}

// edit

.edit_upper {
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.room_edit_button {
  color: #FFFFFF !important;
  background-color: #D70665;
  margin: 0 5px;
  padding: 3px 15px;
  border-radius: 6px;
  display: inline-block;
}

.room_edit_button:hover {
  background-color: #E61D50;
}
